@charset "UTF-8";

#login-text{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
#container {
    margin: auto;
    min-height: 700px;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#loginForm {
    margin-top: 20px;
}

#log-logo {
    height: 194px;
    width: 366px;
    text-align: center;
    background-image: url(../images/logo.png);
    background-size: cover;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-msg {
    color: #ff0000;
    margin: 5px 0;
}

#join,
#findId,
#findPw {
    color: #007bff;
    cursor: pointer;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
